{% extends "layout.njk" %}

{% import "parts/card.njk" as card %}

{% block content %}

    {% call card.render('Editar Produto ', 'product-create container') %}
    <form method="POST" action="/products?_method=PUT" enctype="multipart/form-data">

        <div class="fields">
            {% include 'products/fields.njk' %}
            <input 
                type="hidden" 
                name="id"
                value={{product.id}}>
        </div>

        <button class="button edit" type="submit">Atualizar</button>
    </form>

     <form id="form-delete" action="/products?_method=DELETE" method="post">
        <input type="hidden" name="id" value={{product.id}}>
        <button class="button delete" type="submit">Deletar</button>
    </form>
    {%endcall%}

<script> 
    const formDelete = document.querySelector("#form-delete")
    formDelete.addEventListener("submit", function(event) {
        const confirmation = confirm("Deseja Deletar?")
        if(!confirmation) {
            event.preventDefault()
        }
    })
</script>
{% endblock content %}