.cart .header {
    display: grid;
    grid-template-columns: 1fr 100px 100px 30px;

    grid-gap: 16px;
    margin-bottom: 16px;

    font-weight: 700;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    font-size: 14px;
    color:#999;
}

.cart .header p:nth-child(2){
    text-align: right;
}

.cart .header p:nth-child(3){
    text-align: center;
}

.cart .item {
    display: grid;
    grid-template-columns: 1fr 100px 100px 30px;
    align-items: center;
    grid-gap: 16px;

    padding: 16px 0;

    border-bottom: 1px solid #eee;
}
.cart .item:hover {
    background: rgba(0,0,0,.02)
}
.cart .item > a {
    display:flex;
    align-items: center;

    margin-left: 8px
}

.cart .item img {
    width: 50px;
    height: 50px;

    object-fit: contain;

    margin-right: 16px;

    box-shadow: 0px 2px 4px -2px rgba(0,0,0,.4);
    border-radius: 4px;
}

.cart .item .title {
    color: #222;
}

.cart .item .price {
    text-align: right;
    color: #555;
}

.cart .quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart .quantity-control .quantity{
    margin: 0 8px;
    color: #555;
}

.cart .quantity-control i{
    color:#555;
}

.cart .add, .cart .remove, .cart .delete {
    cursor: pointer
}

.cart .delete {
    color: red;
}

.cart .total {
    margin-top: 16px;
    text-align: right
}

.cart .total p {
    text-transform: uppercase;
    font-size: 12px;
    color:#777;
    font-weight: bold;
    margin-bottom:4px;
}

.cart .total span {
    font-weight: bolder;
    font-size: 22px;
    color:#444;
}

.cart .actions {
    display: flex;
    justify-content: space-between;

    width: 100%;

    margin-top: 16px;
}

.cart .button.shop {
    width:240px;
}

.cart .button.order {
    background: rgb(0, 177, 64)
}

.cart .button.order:hover {
    background: rgb(0, 220, 64)
}

/* Carrinho vazio */
.cart-empty {
    text-align: center
}

.cart-empty p {
    font-size: 18px;
}

.cart-empty .button {
    width: 240px;
    margin: 16px auto;
}

/* menu */
header div.container {
    grid-template-columns: 220px auto 315px;
    grid-gap: 8px;
}

li.cart a {
    position: relative;
}

li.cart a span {
    background-color: red;
    border-radius: 50%;

    width: 20px;
    height: 20px;

    font-size: 12px;
    font-weight: bold;

    position: absolute;
    top: 12px;
    right: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

li.cart a:hover span {
    background-color: white;
    color: black
}