.dropdown-container {
    position: relative;
}

.dropdown-container:hover .dropdown {
    top: 40px;
    opacity: 1;
    visibility: initial;
}


ul.dropdown {
    position: absolute;
    top: 32px;
    left: 0;

    margin-top: 4px;
    padding: 8px 0;

    width: 180px;

    display: flex;
    flex-direction: column;
    background-color: white;

    border-radius: 4px;
    box-shadow: 0px 4px 8px -4px rgba(0,0,0,.6);

    opacity: 0;

    visibility: hidden;
    
    transition: all 200ms;

    z-index: 1;

}

ul.dropdown li a,
ul.dropdown li button {
    font-size: 16px;
    color: #333;

    display:flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 48px;

    padding: 0 16px;
    border-radius: 4px;
}

ul.dropdown li:hover,
ul.dropdown li:hover button {
    background-color: #eee;
}

/*actions*/
.actions.dropdown-container {
    display: flex;
    align-items: center;
    height: 48px;
    cursor: pointer;
    padding: 0 16px;
}
.actions.dropdown-container:hover {
    background-color: white;
}