@keyframes hidemessage {
    to {
        top: -50px;
        opacity: 0;
    }
}

.messages {
    display: flex;
    justify-content: center;
    padding: 16px;
    position: absolute;
    width: 100%;
    color: white;
    top: 0;
    opacity: 1;

    animation: hidemessage 400ms 5s ease-out forwards;
}

.messages.error {
    background: #e74c3c;
}

.messages.success {
    background: rgb(122, 182, 30);
}