.container {
    --status-open: rgb(11, 146, 187);
    --status-sold: rgba(54, 185, 2, 0.548);
    --status-canceled: rgb(255, 81, 0);
}

.order-success,
.order-error {
    padding: 0;
    padding-bottom: 112px;

    text-align: center;

    margin: auto;
}

.order-success .success-lottie{ 
    height: 200px;
}

.order-success a {
    color: var(--secondary-color)
}

.order-error a {
    color: rgb(220, 104, 104)
}

.order-error .error-lottie {
    height: 50px;
    margin: 80px 0 56px
}

/* my orders*/

.orders .item-container {
    display: grid;
    grid-template-columns: 1fr auto auto 100px 100px;
    grid-gap: 32px;

    align-items: center;

    padding: 16px 0;

    color: #444;

}
.orders .item-container:hover {
    background-color: #eee;
}

.orders .item {
    display: flex;
}

.orders img {
    width: 70px;
    height: 70px;

    object-fit: contain;
    
    border-radius: 8px;
    border: 1px solid #fefefe;
    box-shadow: 2px 2px 4px -4px black;

    margin: 0 16px
}

.orders .item div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.item .title,
.item .price,
.item .updated-at {
    color: #555;
    margin-bottom: 4px;
}

.item .price,
.orders .total {
    font-weight: bold;
}

.item .updated-at {
    margin-top: auto;
    margin-bottom: 0;

    font-size: 14px;
    font-weight: 300;
}

.orders .status {
    justify-self: center;

    color: white;
    border-radius: 16px;
    padding: 4px 12px;

    font-size: 12px;
    text-transform: uppercase;
}

.orders .status.open {
    background-color: var(--status-open)
}

.orders .status.sold {
    background-color: var(--status-sold)

}

.orders .status.canceled {
    background-color: var(--status-canceled)

}

/* order details */
.order-detail {
    max-width: 700px;
}

.order-detail .info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    grid-gap: 16px;

    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 300;
}

.order-detail .info h4 {
    color: #777;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.8px;

    margin-bottom: 8px;
}

.order-detail .info .status {
    text-align: right;
}

.order-detail .info .status.open h2 {
    color: var(--status-open);
}

.order-detail .info .status.sold h2 {
    color: var(--status-sold);
}

.order-detail .info .status.canceled h2 {
    color: var(--status-canceled);
}

.order-detail .info .status p {
    color: #777;
    font-size: 12px;
}

.order-detail .product {
    display: flex;
    align-items: center;

    width: 100%;

    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

    padding: 16px 0;
    margin-bottom: 16px;
}

.order-detail img {
    width: 100px;
    height: 100px;

    object-fit: contain;

    margin-right: 16px;
}

.order-detail .price {
    color: #555;
    font-weight: bold;
    text-align: right;

    flex: 1;
}

.order-detail .quantity {
    font-weight: 300;
    font-size: 14px;
}

.order-detail .total {
    color: #333;

    display:flex;
    align-items: center;
    justify-content: flex-end;

    font-size: 22px;
    font-weight: bold;
}

.order-detail .total span {
    font-size: 12px;
    font-weight: 500;

    margin-right: 8px;
}