<!DOCTYPE html>
<html>
    <head>

        {% block head %}
            <title>Launchstore</title>
        {% endblock %}

        {%include "parts/styles.njk" %}
    </head>
    <body>
        {%include "parts/messages.njk"%}

        {%include "parts/header.njk" %}

        {% block content %}{% endblock %}

        {%include "parts/footer.njk" %}
        
    </body>
</html>