{% macro products(name, classes, products) %}


<section class="shop {{classes}}">

    {% if name %}
        <h2>{{name}}</h2>
    {% endif %}

    <div class="items">
    
        {%for product in products%}
            <div class="product">
                <div 
                    class="image"
                    style="background-image: url({{product.img if product.img else '//placehold.it/500x360'}})"
                >
                </div>

                {%if product.formattedOldPrice != product.formattedPrice%}
                    <div class="old-price">{{product.formattedOldPrice}}</div>
                {%endif%}
                <p>{{product.formattedPrice}}</p>
                <h4>{{product.name}}</h4>

                <a href="/products/{{product.id}}" class="button">Ver Produto</a>
            
            </div>
        {%endfor%}
    </div>
</section>

{% endmacro %}